<h1>About us</h1>
<%= image_tag "about.jpg" %>
<br/>
<div class="about">
    <p>With <strong>My Stocks</strong> you can track your own list of stocks.</p>
    <p>It pulls data such as current ask price, P/E ratio and other financial metrics from IEX Trading.</p>
</div>
